# OS X
.DS_Store
.AppleDouble
.LSOverride

# Icon must end with two \r
Icon

# Thumbnails
._*

# Windows image file caches
Thumbs.db
ehthumbs.db

# Folder config file
Desktop.ini

# Windows shortcuts
*.lnk

# Ignore Logo.png
logo.png

# Ignore oXygen Project files
**/*.xpr

# Ignore IntellJ dir
.idea/*

# Ignore virtual environment directory
venv/

staging-cudl-data-source
